.vs/Northwind/v16/.suo
Northwind/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Northwind/obj/Debug/Northwind.pdb
Northwind/obj/Debug/Northwind.dll
Northwind/obj/Debug/Northwind.csproj.AssemblyReference.cache
Northwind/bin/Northwind.pdb
Northwind/bin/Northwind.dll