* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}




header {
    height: 15vh;
    width: 100%;
    
    background-color: darkseagreen;
    text-align: left;
}



.northwindTitle {
    font-size: 5vh;
    width: 90%;
    border-style: solid;
    line-height:15vh;
    width: 90vh;
    padding: 5px;
    margin:10px;

}
    

footer{
    background-color:deepskyblue;
}


#userinfo {
    font-size: 3vh;
    border-style: solid;
    line-height: 15vh;
    padding: 5px;
    padding-right:1000px;
    margin: 10px;

}
    