@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: 'Poppins', sans-serif;
}



.txtRegion {
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
}

